<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{leyenda}}</h4>

        <div class="input-group">
            <span class="input-group-btn">
        <button
          class="btn btn-primary"
          type="button"
          (click)="cambiar_valor(+5)"
        >
          <i class="mdi mdi-plus"></i>
        </button>
      </span>
            <input #txtProgress type="number" class="form-control" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChange($event)" min="0" max="100" />
            <span class="input-group-btn">
        <button
          class="btn btn-primary"
          type="button"
          (click)="cambiar_valor(-5)"
        >
          <i class="mdi mdi-minus"></i>
        </button>
      </span>
        </div>
    </div>
</div>